<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Click here to register <a href="https://www.vavarna.com/account/regiser?medium=other&referrer=<%= @customer.customer_id %>"
</body>
</html>