<form id="refer_email_form" action="refer_email" method="post" >
  Your Friend email<center> <input type="email" name="email" id="email" style="align: center" /></center>
    <input type="hidden" name="customer_id" id="customer_id" value="{{ customer.id }}" />
  	<input type="submit" name="submit" value="Send" class="add" />
  </form>