<form action="/assign_coupons" method="post">
    <label>Coupon Code</label><p></p>
    <input type="text" name="coupon_code"><p></p>
    <label>Coupon Value</label><p></p>
    <input type="text" name="coupon_value"><p></p>
    <label>Coupon Validity</label><p></p>
    <input type="date" name="end_date"><p></p>
    <label>Minimum Purchase Amount</label><p></p>
    <input type="text" name="minimum_purchase_amount"><p></p>
    <label>Customers(separate with ",")</label><p></p>
    <textarea name="customers"></textarea><p></p>
    <input type="submit" name="submit" />
</form>