<form action="/assign_coupons" method="post">
    <label>Coupon Code</label>
    <input type="text" name="coupon_code">
    <label>Coupon Value</label>
    <input type="text" name="coupon_value">
    <label>Coupon Validity</label>
    <input type="date" name="end_date">
    <label>Minimum Purchase Amount</label>
    <input type="text" name="minimum_purchase_amount">
    <label>Customers(separate with ",")</label>
    <textarea name="customers"></textarea>
    <input type="submit" name="submit" />
</form>