<table border="1" width="100%">
    <tr>
        <td>Product Id</td>
        <td>Title</td>
        <td>Descriptions</td>
    </tr>
    <% @products.each do |product| %>
    <tr>
        <td><%= product.product_id %></td>
        <td><%= product.title %></td>
        <td>
            <table border="1" width="100%">
                <tr>
                    <td>Description Title</td>
                    <td>Description</td>
                </tr>
                <% product_descriptions=ProductDescription.where("product_id= ?", product.product_id) %>
                <% product_descriptions.each do |product_description| %>
                <tr>
                    <td><pre><%= product_description.title %></pre></td>
                    <td><pre><%= product_description.description %></pre></td>
                </tr>
                <% end %>
            </table>
        </td>        
    </tr>
    <% end %>
</table>